@{
    ViewBag.Title = "Glossary";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NWMSU Football</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */

        element.style {
            clear: both;
        }

        .mod-table .mod-footer .foot-content ul {
            float: left;
            margin: 0 25px 10px 0;
        }

        ul, menu, dir {
            display: block;
            list-style-type: disc;
            -webkit-padding-start: 40px;
        }

        .mod-table .mod-footer .foot-content {
            padding: 8px;
            font-size: 11px;
            overflow: hidden;
        }

        ol, ul {
            list-style: none;
            list-style-type: none;
            list-style-position: initial;
            list-style-image: initial;
        }

        .mod-table .mod-footer .foot-content ul {
            float: left;
            margin: 0 25px 10px 0;
        }

        .mod-table .mod-content {
            padding: 0 !important;
        }

        .mod-no-header .mod-content {
            border-top-width: 1px;
        }


        .stathead td, .stathead, .mod-content tr.stathead, .mod-content tr.stathead td, .mod-header, body.clubhouse .mod-calendar-month td.day.home div.day-top, body.clubhouse .mod-calendar-month tr.util td ul.key li span.home, body.nfl .mod-data-table .mod-header {
            background: #06424D !important;
        }

        body.nfl .stathead td, body.nfl .stathead, body.afl .stathead td, body.afl .stathead {
            background: #0f5b1a;
            color: #fff;
        }

        body .stathead td, body .stathead, body.gen .stathead td, body.gen .stathead, body.espn .stathead td, body.espn .stathead {
            background: #ad4a07;
            color: #fff;
        }

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        user agent stylesheet div {
            display: block;
        }


        body.clubhouse .bg-opaque {
            margin-left: -10px;
            padding: 10px;
            overflow: visible;
            clear: both;
            -moz-border-radius: 0 0 8px 8px;
            -webkit-border-bottom-left-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
        }

        .bg-opaque {
            background-color: #FFF;
            padding-bottom: 20px;
        }

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }


        .mod-table .mod-footer .foot-header {
            color: #fff;
            font-family: Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .3px;
            padding: 5px 8px 3px;
            text-align: left;
            margin: 0 2px;
        }

        .mod-content {
            background: #fff;
            font-size: 11px;
            border-width: 0 1px;
            border-color: #c2c2c2;
            border-style: solid;
            overflow: hidden;
            padding: 2px;
        }

        .mod-container {
            font-family: verdana,helvetica,arial,sans-serif;
            width: 100%;
            clear: both;
        }

        .mod-table .mod-footer .foot-content ul li span {
            font-weight: 700;
            color: #444;
        }

        body.clubhouse .mod-container h4 {
            text-transform: uppercase;
            font-family: helvetica,arial,sans-serif;
            color: #fff;
            line-height: 25px;
            font-size: 12px;
            letter-spacing: .3px;
            margin: 0;
            padding: 0 0 0 10px;
            clear: both;
            height: 25px;
            overflow: hidden;
        }

        .mod-table .mod-content {
            padding: 0 !important;
        }

        .mod-no-header .mod-content {
            border-top-width: 1px;
        }

        .mod-footer {
            background: #fff;
            border-width: 0 1px 1px;
            border-color: #c2c2c2;
            border-style: solid;
            text-align: right;
            margin-bottom: 6px;
        }

        .mod-table .mod-footer .foot-header {
            color: #fff;
            font-family: Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .3px;
            padding: 5px 8px 3px;
            text-align: left;
            margin: 0 2px;
        }

        .mod-table .mod-footer .foot-content {
            padding: 8px;
            font-size: 11px;
            overflow: hidden;
        }

        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
            margin-left: 17px;
            padding: 20px;
            right: 300px;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        element.style {
            clear: both;
        }
    </style>
</head>
<body>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Bearcat Football</h1>
            <p>Data Visualization</p>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Player Stats</a></li>
                    <li><a href="#">Roster</a></li>
                    <li><a href="~/Home/Glossary">Glossary</a></li>
                    @*<li><a href="#">Stores</a></li>
                        <li><a href="#">Contact</a></li>*@
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                    </ul>*@
            </div>
        </div>
    </nav>

    <div class="mod-container mod-table mod-no-header">
        <div class="mod-content"></div>
        <div class="mod-footer">
            <div class="foot-header stathead">
                <h4>GLOSSARY</h4>
            </div>
            <div class="foot-content">
                <ul style="width:30%;">
                    <li><span>ATT:</span> Passing attempts</li>
                    <li><span>COMP:</span> Completions</li>
                    <li><span>PCT:</span> Completion percentage</li>
                    <li><span>YDS:</span> Net passing yards</li>
                    <li><span>AVG:</span> Yards per pass attempt</li>
                    <li><span>YDS/G:</span> Net passing yards per game</li>
                    <li><span>LONG:</span> Longest pass</li>
                    <li><span>TD:</span> Passing touchdowns</li>
                    <li><span>TD%:</span> Passing touchdown percentage</li>
                    <li><span>INT:</span> Interceptions</li>
                    <li><span>INT%:</span> Interception percentage</li>
                    <li><span>SACK:</span> Sacks</li>
                    <li><span>YDSL:</span> Sacked yards lost</li>
                    <li><span>RATE:</span> Passer (QB) rating</li>
                </ul>
                <ul style="width:30%;">
                    <li><span>ATT:</span> Rushing attempts</li>
                    <li><span>YDS:</span> Rushing yards</li>
                    <li><span>AVG:</span> Yards per rush attempt</li>
                    <li><span>LONG:</span> Longest rush</li>
                    <li><span>20+:</span> Carries over 20 yards</li>
                    <li><span>TD:</span> Rushing touchdowns</li>
                    <li><span>YDS/G:</span> Rushing yards per game</li>
                    <li><span>FUM:</span> Rushing fumbles</li>
                    <li><span>FUML:</span> Rushing fumbles lost</li>
                    <li><span>1DN:</span> Rushing first downs</li>
                </ul>
                <ul style="width:30%;">
                    <li><span>REC:</span> Receptions</li>
                    <li><span>TAR:</span> Receiving targets</li>
                    <li><span>YDS:</span> Receiving yards</li>
                    <li><span>AVG:</span> Average yards per reception</li>
                    <li><span>TD:</span> Receiving touchdowns</li>
                    <li><span>LONG:</span> Longest reception</li>
                    <li><span>20+:</span> Receptions over 20 yards</li>
                    <li><span>YDS/G:</span> Receiving yards per game</li>
                    <li><span>FUM:</span> Receiving fumbles</li>
                    <li><span>FUML:</span> Receiving fumbles lost</li>
                    <li><span>YAC:</span> Yards after catch</li>
                    <li><span>1DN:</span> Receiving first downs</li>
                </ul>
                <div style="clear:both;"></div>
                <ul style="width:30%;">
                    <li><span>TOTAL:</span> First downs</li>
                    <li><span>RUSH:</span> Rushing first downs</li>
                    <li><span>PASS:</span> Passing first downs</li>
                    <li><span>PEN:</span> Penalty first downs</li>
                    <li><span>MADE:</span> Third down conversions</li>
                    <li><span>ATT:</span> Third down attempts</li>
                    <li><span>PCT:</span> Percentage of third downs converted</li>
                    <li><span>MADE:</span> Fourth down conversions</li>
                    <li><span>ATT:</span> Fourth down attempts</li>
                    <li><span>PCT:</span> Percentage of fourth downs converted</li>
                    <li><span>TOTAL:</span> Total penalties</li>
                    <li><span>YDS:</span> Total penalty yards</li>
                </ul>
                <ul style="width:30%;">
                    <li><span>SOLO:</span> Unassisted tackles</li>
                    <li><span>AST:</span> Assisted tackles</li>
                    <li><span>TOT:</span> Tackles</li>
                    <li><span>SACK:</span> Sacks</li>
                    <li><span>YDSL:</span> Yards lost on sack</li>
                    <li><span>TLOSS:</span> Tackles for a loss</li>
                    <li><span>PD:</span> Passes defended</li>
                    <li><span>INT:</span> Interceptions</li>
                    <li><span>YDS:</span> Intercepted returned yards</li>
                    <li><span>LONG:</span> Longest interception return</li>
                    <li><span>TD:</span> Interceptions returned for touchdowns</li>
                    <li><span>FF:</span> Forced fumbles</li>
                    <li><span>REC:</span> Fumbles recovered</li>
                    <li><span>TD:</span> Fumbles returned for touchdowns</li>
                    <li><span>BK:</span> Blocked kicks both punts and field goal attempts</li>
                </ul>
                <ul style="width:30%;">
                    <li><span>ATT:</span> Kickoff return attempts</li>
                    <li><span>YDS:</span> Kickoff return yards</li>
                    <li><span>AVG:</span> Average yards per kickoff return</li>
                    <li><span>LONG:</span> Longest kickoff return</li>
                    <li><span>TD:</span> Kickoff return touchdowns</li>
                    <li><span>RET:</span> Punts returned</li>
                    <li><span>RETY:</span> Yards returned on punts</li>
                    <li><span>AVG:</span> Average yards per punt return</li>
                    <li><span>LONG:</span> Longest punt return</li>
                    <li><span>TD:</span> Punt return touchdowns</li>
                    <li><span>FC:</span> Fair catches</li>
                </ul>
                <div style="clear:both;"></div>
                <ul style="width:30%;">
                    <li><span>FGM:</span> Field goals made</li>
                    <li><span>FGA:</span> Field goal attempts</li>
                    <li><span>PCT:</span> Percentage of field goals made</li>
                    <li><span>LONG:</span> Longest field goal made</li>
                    <li><span>1-19:</span> 1-19 yard field goals</li>
                    <li><span>20-29:</span> 20-29 yard field goals</li>
                    <li><span>30-39:</span> 30-39 yard field goals</li>
                    <li><span>40-49:</span> 40-49 yard field goals</li>
                    <li><span>50+:</span> 50+ yard field goals</li>
                    <li><span>XPM:</span> Extra points made</li>
                    <li><span>XPA:</span> Extra point attempts</li>
                    <li><span>PCT:</span> Percentage of extra points made</li>
                </ul>
                <ul style="width:30%;">
                    <li><span>PUNTS:</span> Total punts</li>
                    <li><span>YDS:</span> Gross punt yards</li>
                    <li><span>LONG:</span> Longest punt</li>
                    <li><span>AVG:</span> Gross punting average</li>
                    <li><span>NET:</span> Net punting average</li>
                    <li><span>BP:</span> Blocked punts</li>
                    <li><span>IN20:</span> Punts inside the 20 yard line</li>
                    <li><span>TB:</span> Touchbacks</li>
                    <li><span>FC:</span> Fair catches</li>
                    <li><span>RET:</span> Punts returned</li>
                    <li><span>RETY:</span> Yards returned on punts</li>
                    <li><span>AVG:</span> Average return yards on punts</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>