@{
    ViewBag.Title = "Home - Bearcat Football";
}

@using Highsoft.Web.Mvc.Charts

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NWMSU Football</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        /*.navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }*/

        /* Remove the jumbotron's default bottom margin */
        /*.jumbotron {
            margin-bottom: 0;
            margin-left: 17px;
            padding: 20px;
            right: 300px;
        }*/

        /* Add a gray background color and some padding to the footer */
        /*footer {
            background-color: #f2f2f2;
            padding: 25px;
        }*/

        .video-container {
            position: absolute;
            z-index: -99;
            width: 100%;
            height: 100%;
            /*position: relative;*/
            padding-bottom: 56.25%; /* 16:9 */
            /*padding-top: 30px;*/ /* size of chrome */
            /*height: 0;*/
            overflow: hidden;
            /*z-index: 1;*/
            border-color: black;
        }

            .video-container iframe,
            .video-container object,
            .video-container #overlay,
            .video-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        #overlay {
            position: absolute;
            top: 100px;
            color: aquamarine;
            text-align: center;
            font-size: 25px;
            background-color: rgba(221, 221, 221, 0.0);
            width: 640px;
            padding: 10px 0;
            z-index: 2147483647;
            margin-top: 18em;
            font-weight: bold;
        }

        @@keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        @@-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        h3, h4 {
            margin: 10px 0 30px 0;
            letter-spacing: 10px;
            font-size: 25px;
            color: aquamarine;
        }

        #mainBody {
            /*background-color: transparent !important;*/
            opacity: 0.85;
        }
    </style>
</head>
@*<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">*@
<body>
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%; margin-left:-120px; margin-top:-100px;">
        @*style="position: fixed; z-index: -99; width: 100%; height: 100%"*@
        <iframe frameborder="0" src="https://www.youtube.com/embed/I81_euY_62I?loop=1&autoplay=1&playlist=I81_euY_62I" onload="this.width=screen.width;this.height=screen.height;"></iframe>

    </div>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/Index">Bearcat Football</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Home/Index">HOME</a></li>
                        @*<li><a href="#band">SEASONS</a></li>
                        <li><a href="#contact">CONTACT</a></li>*@
                        <li><a href="~/Home/Glossary">GLOSSARY</a></li>
                        @*<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="mainBody" class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">2015</div>
                            @*<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>*@
                            <div class="panel-footer"><a href="~/Home/Player_Chart">Click here </a> to see the stats</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">2014</div>
                            @*<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>*@
                            <div class="panel-footer">Click here to see the stats</div>
                        </div>
                    </div>

                </div>
            </div>
        </div><br>
        <div id="mainBody" class="container">
            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">2013</div>
                            @*<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>*@
                            <div class="panel-footer">Click here to see the stats</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">2012</div>
                            @*<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>*@
                            <div class="panel-footer">Click here to see the stats</div>
                        </div>
                    </div>
                </div>

                @*<div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">2011</div>*@
                @*<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>*@
                @*<div class="panel-footer">Click here to see the stats</div>
                         </div>
                     </div>
                    <div class="col-sm-4">
                             <div class="panel panel-primary">
                                 <div class="panel-heading">BLACK FRIDAY DEAL</div>
                                 <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                                 <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                             </div>
                         </div>*@
            </div>
        </div><br><br>
    </div>




    @*<div class="modal-footer">
            <p >Northwest Missouri State University Copyright</p>
        </div>*@

</body>
</html>